@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  min-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 100%;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
